body {
  min-height: 1500px;
  max-height: 0px;
  margin: 0 0 100px 0;
  font-family: sans-serif;

}



#bottom-section {
  background-color: rgb(97, 174, 204);
  color: white;
  position: relative;
  width: 100%;
  bottom: 0px;
  padding: 20px;
}